@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@theme {
  --font-indie-flower: Indie Flower, "sans-serif";
  --font-inter: Inter, "sans-serif";
}
:root {
  color: rgba(255, 255, 255, 0.8);
  --back-color: rgba(26, 34, 23, 1);
  font-family: var(--font-inter);
  background-color: rgba(26, 34, 23, 1);
}
